<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <!--<input #input type="text" placeholder="ID" [(ngModel)]="searchID">-->
        <!--<input #input type="text" placeholder="Owner" [(ngModel)]="searchOwner">-->
        <!--<input #input type="text" placeholder="Body" [(ngModel)]="searchBody">-->
        <!--<input #input type="text" placeholder="Category" [(ngModel)]="searchCategory">-->
        <input #input type="text" placeholder="Filter by ID" (input)="searchID= $event.target.value">
        <input #input type="text" placeholder="Filter by Owner" (input)="searchOwner= $event.target.value">
        <input #input type="text" placeholder="Filter by Body" (input)="searchBody= $event.target.value">
        <input #input type="text" placeholder="Filter by Category" (input)="searchCategory = $event.target.value">
        Status:
            <select #input  (input) = "searchStatus= $event.target.value">
                <option value = ""></option>
                <option value = 1>Complete</option>
                <option value = 0>Incomplete</option>
            </select>


    </li>
    <li class="list-group-item list-group-item-info">Todos</li>
    <li *ngFor="let todo of todos | filterBy: {_id: searchID} | filterBy: {owner: searchOwner}| filterBy:{body: searchBody}|
     filterBy:{category: searchCategory} | filterBy:{status: searchStatus}" class="list-group-item">
        Owner: {{ todo.owner }} <br/>
        Body: {{ todo.body }} <br/>
        Category: {{ todo.category }} <br/>
        ID: {{ todo._id }} <br/>
        Status: {{todo.status ? "Complete" : "Incomplete"}}
    </li>
</ul>
